@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grey-darker: hsl(0, 0%, 21%);
    --grey-dark: hsl(0, 0%, 29%);
    --grey: hsl(0, 0%, 48%);
    --grey-light: hsl(0, 0%, 71%);
    --grey-lighter: hsl(0, 0%, 86%);
    --grey-lightest: hsl(0, 0%, 94%);

    --orange: hsl(14, 100%, 53%);
    --yellow: hsl(48, 100%, 67%);
    --green: hsl(141, 71%, 48%);
    --turquoise: hsl(171, 100%, 41%);
    --cyan: hsl(204, 86%, 53%);
    --blue: #086699;
    --blue-light: #daf3ff;
    --purple: hsl(271, 100%, 71%);
    --red: hsl(348, 100%, 61%);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --container-with: 1200px;
    --mobile-bp: 768px;
}




body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #4a4a4a;
    max-width: var(--container-with);
    margin: 0 auto;
    background-color: var(--grey-lightest);
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: unset;
}

.centered {
    text-align: center;
}

button {
    background: none;
    border: none;
}

.btn {
    border: var(--blue) solid 1px;
    color: var(--blue);
    background-color: white;
    border-radius: 20px;
    margin: 0.4rem;
    padding: 0.3rem;
    min-width: 120px;
    font-size: 18px;
    text-align: center;

    &.primary {
        background-color: var(--blue);
        color: white;
    }

    &.small {
        min-width: 80px;
        font-size: 14px;
    }
}

.flab {
    position: absolute;
    bottom: 55px;
    right: 15px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    padding: 8px;
    background-color: var(--red);

    svg {
        fill: white;
        width: 24px;
        height: 24px;
    }
}


form {
    label {
        display: block;
    }
    input {
        display: block;
        width: 100%;
        height: 32px;
        margin: 0.2rem 0;
        padding: 0 0.2rem;
        font-family: "Lexend Deca", sans-serif;
        font-size: 16px;
        font-weight: 100;
        border: #4a4a4a solid 1px;
        color: #4a4a4a;

        &[type="file"] {
            border: none;
            display: inline;
        }
    }

    .control {
        margin: 0.5rem 0;
    }

    .trix-button-group--file-tools {
        display: none !important;
    }

}


.icon {
    height: 24px;

    svg {
        fill: #4a4a4a;
        height: 24px;
        width: 24px;
    }

    &.small {
        height: 20px;

        svg {
            height: 20px;
            width: 20px;
        }
    }

    &.big {
        height: 32px;

        svg {
            height: 32px;
            width: 32px;
        }
    }
}

.card {
    display: block;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: var(--container-with);
    margin: 0 auto;
    height: 44px;
    background-color: var(--blue);
    color: white;
    display: flex;
}

.nav-bar > * {
    flex: 1;
    text-align: center;
    padding: 0.6rem 0;
    color: white;
}

.nav-bar > *:not(:last-child) {
    border-right: solid white 1px;
}

.nav-bar > * svg {
    fill: white;
}

.header {
    background-color: var(--blue);
    color: white;
    width: 100%;
    height: 2.25rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

.content {
    padding: .5rem;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: white;
}

.planner-header {
    margin: 1rem .75rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
}

.planner .week .meal {
    margin: .75rem 0;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.planner .week .meal.current {
    background-color: var(--blue-light);
}

.planner .week .meal .day {
    padding: 0 .5rem;
    text-align: center;
    border-right: solid 1px var(--grey-light);
}

.planner .week .meal .meal-name {
    padding-left: .5rem;
    flex-grow: 1;
}

.planner .image {
    --image-size: 4rem;

    width: var(--image-size);
    height: var(--image-size);
}

.planner .image img {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}

.planner .image .placeholder {
    background-color: var(--grey-lighter);
    width: var(--image-size);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planner .image .placeholder svg {
    fill: var(--grey-lightest);
    width: 2rem;
    height: 2rem;
}

/* Meal-List */

.meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    --card-width: 20rem;
    --card-height: 24rem;
    --img-width: 100%;
    --img-height: 18rem;

    @media (max-width: 768px) {
        --card-width: calc(50% - .5rem);
        --card-height: 15rem;
        --img-width: 100%;
        --img-height: 8rem;
    }

    .meal {
        width: var(--card-width);
        height: var(--card-height);
        margin: .25rem;
        padding: .25rem;
        cursor: pointer;

        .image {
            width: var(--img-width);
            margin-right: .5rem;

            img {
                width: var(--img-width);
                height: var(--img-height);
                object-fit: cover;
            }

            .placeholder {
                background-color: var(--grey-lighter);
                width: var(--img-width);
                height: var(--img-height);
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    fill: var(--grey-lightest);
                    width: 5rem;
                    height: 5rem;
                }
            }
        }

        .title {
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            white-space: nowrap;
            overflow: hidden;

            @media (max-width: 768px) {
                flex-wrap: wrap;
            }

            .text {
                max-width: 15rem;
                overflow: hidden;
                text-overflow: ellipsis;

                @media (max-width: 768px) {
                    width: var(--card-width);
                }
            }

            .category {
                font-size: 12px;
                line-height: 12px;
                height: 26px;
                background-color: var(--grey-light);
                border-radius: 15px;
                padding: 0.5rem;

            }
        }

        .tags {
            margin: 1rem 0;
            font-size: 12px;
            line-height: 12px;
            display: flex;
            flex-wrap: wrap;

            div {
                background-color: var(--grey-light);
                border-radius: 15px;
                padding: 0.2rem 0.5rem;
                margin: 0 .2rem;
            }
        }
    }
}


/* Meal-Edit */

.meals-edit .edit-form {
    max-height: calc(100vh - 141px);
    overflow-y: auto;
}

.meals-edit .edit-form .image {
    display: flex;
}

.meals-edit trix-editor {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
}

.meals-edit image-select {
    width: 100%;
}

/* meal of day */

.meal-of-day .date-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.meal-of-day .title {
    margin: .5rem 0;
    font-size: 1.5rem;
}

.meal-of-day .description {
    font-weight: 300;
}

.meal-of-day .image {
    --image-size: 12rem;
    display: flex;
    justify-content: center;

    width: 100%;
    height: var(--image-size);
    margin: 1rem 0;
}

.meal-of-day .image img {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}

.meal-of-day .image .placeholder {
    background-color: var(--grey-lighter);
    width: var(--image-size);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-of-day .image .placeholder svg {
    fill: var(--grey-lightest);
    width: 2rem;
    height: 2rem;
}

/* meal of day select*/

.meal-of-day-select .meal {
    margin: .5rem 0;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.meal-of-day-select input {
    width: unset;
    height: 1rem;
    margin: .5rem;
}

.meal-of-day-select label {
    flex-grow: 1;
    line-height: 2rem;
    margin-left: .5rem;
}

.meal-of-day-select .submit {
    height: 3rem;
    position: absolute;
    width: calc(100vw - 1rem);
    bottom: 3rem;
}

.meal-of-day-select .image {
    --image-size: 4rem;

    width: var(--image-size);
    height: var(--image-size);
}

.meal-of-day-select .image img {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}

.meal-of-day-select .image .placeholder {
    background-color: var(--grey-lighter);
    width: var(--image-size);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-of-day-select .image .placeholder svg {
    fill: var(--grey-lightest);
    width: 2rem;
    height: 2rem;
}

.categories {
    .add-category {
        display: flex;

        input {
            max-width: 250px;
        }
    }
}