{{ define "content"}}
    <div class="">
        <div class="flex w-full my-2">
            <a class="print:hidden" href="offset/{{dec .week.Offset}}">
                <svg class="w-32 h-8">
                    <use xlink:href="assets/img/solid.svg#chevron-left"></use>
                </svg>
            </a>

            <div class="flex-1 text-center whitespace-nowrap">
                {{ .week.Start.Format "02.01.2006" }} - {{ .week.End.Format "02.01.2006" }}
            </div>

            <a class="print:hidden" href="offset/{{inc .week.Offset}}">
                <svg class="w-32 h-8">
                    <use xlink:href="assets/img/solid.svg#chevron-right"></use>
                </svg>
            </a>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-2 gap-y-4 ">
        {{ range .week.Meals }}
            <a href="planner/{{.Id}}" class="rounded overflow-hidden bg-white shadow-lg grid grid-cols-2 md:block">
                <div class="px-4 py-2 text-center">
                    <p class="text-gray-700 text-base">
                        {{ .Date.Format "Mon" }} {{ .Date.Format "02.01.2006" }}
                    </p>
                    <div class="font-bold text-xl mb-2">{{.Meal.Name}}</div>
                </div>

                <div class="w-full text-center">
                    {{ if .Meal.ImageFileId.Valid }}
                        <img class="w-full h-24 md:h-64 object-cover object-center" src="{{ fileUrl .Meal.ImageFileId}}"  alt="{{ .Meal.Name }}">
                    {{ else }}
                    <svg class="w-full text-gray-300 h-24 md:h-48" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <use xlink:href='{{ publicUrl "assets/img/solid.svg#burger"}}'></use>
                    </svg>
                    {{ end }}
                </div>
            </a>
        {{end}}
        </div>

        <div class="text-center">
            <a href=""
        </div>
    </div>
{{end}}