{{ define "content"}}
    <div class="planner">
        <div class="planner-header">
            <a class="icon big" href="offset/{{dec .Offset}}">
                <svg>
                    <use xlink:href="assets/img/solid.svg#chevron-left"></use>
                </svg>
            </a>

            <div>
                {{ .Start.Format "02.01.2006" }} - {{ .End.Format "02.01.2006" }}
            </div>

            <a class="icon big" href="offset/{{inc .Offset}}">
                <svg>
                    <use xlink:href="assets/img/solid.svg#chevron-right"></use>
                </svg>
            </a>
        </div>

        <div class="week">
        {{ range .Meals }}
            <a href="planner/{{.Id}}" class="card card-1 meal {{if eq (isToday .Date) true}}current{{end}}">
                <div class="day">
                    <div>{{ .Date.Format "Mon" }}</div>
                    <div>{{ .Date.Format "02.01." }}</div>
                </div>
                <div class="meal-name">
                    {{.Meal.Name}}
                </div>
                <div class="image">
                    {{ if .Meal.ImageFileId.Valid }}
                        <img src="{{ fileUrl .Meal.ImageFileId}}"  alt="{{ .Meal.Name }}">
                    {{ else }}
                        <div class="placeholder">
                            <svg>
                                <use xlink:href="assets/img/solid.svg#hamburger"></use>
                            </svg>
                        </div>
                    {{ end }}
                </div>
            </a>

        {{end}}
        </div>
    </div>
{{end}}