{{ define "content"}}
    <div class="meals">

        {{ range .meals }}
            <div onclick="window.location = 'meals/{{ .Id }}'" class="card card-1 meal">
                <div class="image">
                   {{ if .ImageFileId.Valid }}
                       <img src="{{ fileUrl .ImageFileId}}"  alt="{{ .Name }}">
                   {{ else }}
                        <div class="placeholder">
                            <svg>
                                <use xlink:href='{{ publicUrl "assets/img/solid.svg#hamburger"}}'></use>
                            </svg>
                        </div>
                   {{ end }}
                </div>
                <div class="title">
                    <div class="text">{{ .Name }}</div>
                </div>
                <div class="tags">
                    {{ range .Tags }}
                    <div style="background-color: {{ .Color }}">
                        <span class="text-white ">{{ .Name }}</span>
                    </div>
                    {{end}}
                </div>
            </div>
        {{end}}

        <a href="meals/new" class="flab">
            <svg>
                <use xlink:href='{{ publicUrl "assets/img/solid.svg#plus"}}'></use>
            </svg>
        </a>
    </div>
{{end}}