{{ define "content"}}
    <div class="meals">

        {{ range .meals }}
            <a href="meals/{{ .Id }}" class="card card-1 meal">
                <div class="image">
                   {{ if .ImageFileId.Valid }}
                       <img src="{{ fileUrl .ImageFileId}}"  alt="{{ .Name }}">
                   {{ else }}
                        <div class="placeholder">
                            <svg>
                                <use xlink:href="assets/img/solid.svg#hamburger"></use>
                            </svg>
                        </div>
                   {{ end }}
                </div>
                <div>
                    {{ .Name }}
                    <div class="description">
                        {{ htmlSafe .Description }}
                    </div>

                </div>

            </a>
        {{end}}

        <a href="meals/new" class="flab">
            <svg>
                <use xlink:href="assets/img/solid.svg#plus"></use>
            </svg>
        </a>
    </div>
{{end}}