{{ define "site-header"}}
    <link rel="stylesheet" type="text/css" href="assets/trix.css">
    <script type="text/javascript" src="assets/trix.js"></script>
    <script type="text/javascript" src="assets/image-select.js"></script>
{{end}}
{{ define "content"}}
    <div class="meals-edit">
        <form id="meal-delete" action="meals/{{.meal.Id}}/delete" method="post" hidden></form>
        <form id="meal-edit" action="meals{{if (gt .meal.Id 0)}}/{{.meal.Id}}{{end}}" method="post" enctype="multipart/form-data">
            <div class="my-2">
                <image-select name="image" src="{{ fileUrl .meal.ImageFileId}}"></image-select>
            </div>
            <div class="my-2">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{.meal.Name}}" />
            </div>
            <div class="my-2">
                <label for="name">Tags</label>
                <multi-select options="Blue, Green, Yellow, Blue"></multi-select>
            </div>
            <div class="my-2">
                <label for="description">Beschreibung</label>
                <input id="description" type="hidden" name="description" value="{{.meal.Description}}">
                <trix-editor input="description"></trix-editor>
            </div>
        </form>

        <div class="sticky bottom-0 text-center bg-white">
            <button class="btn" type="submit" form="meal-delete">Delete</button>
            <button class="btn primary" type="submit" form="meal-edit">Save</button>
        </div>
    </div>
{{end}}