{{ define "content"}}
    <div class="meal-of-day">
        <div class="date-header">
            {{ .mod.Date.Format "Mon 02.01.2006" }}
            <a href="planner/{{ .mod.Id }}/select" class="btn small">Ändern</a>
        </div>
        <div class="image">
            {{ if .mod.Meal.ImageFileId.Valid }}
                <img src="{{ fileUrl .mod.Meal.ImageFileId}}"  alt="{{ .mod.Meal.Name }}">
            {{ else }}
                <div class="placeholder">
                    <svg>
                        <use xlink:href="assets/img/solid.svg#hamburger"></use>
                    </svg>
                </div>
            {{ end }}
        </div>
        <div class="title">
            {{ .mod.Meal.Name }}
        </div>

        <div class="description">
            {{ htmlSafe .mod.Meal.Description }}
        </div>
    </div>
{{end}}